{{template "base" .}}

{{define "content"}}
    <!-- Welcome and description -->
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/bamboo-dormitory.png" alt="room image" class="img-fluid img-thumbnail mx-auto d-block" width="50%">
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Bamboo Dormitory</h1>
                <p>
                    Your home away from home, set on the majestic city of Suwon, South Korea. Whether you are here for business or travel, 
                    Panpanzinho's Bed and Breakfast is the right accomodation for your specific needs! We provide a wide range of activities for all 
                    age groups, such as a light stroll around the beautiful Suwon Fortress or a crazy night at the burstling beighborhood of Ingye-dong! 
                    We provide free bicycle rent and a map with the best restaurants around.
                </p>
            </div>
        </div>

        <!-- Button "Make reservation now" -->
        <div class="row">
            <div class="col text-center">
                <a id="btn-check-availability" href="#!" class="btn btn-success">Check availability</a>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        // Custom function that toggles the color of a paragraph
        document.getElementById("btn-check-availability").addEventListener("click", function(){

            // Creates a custom HTML to be displayed on SweetAlert
            let html = `
                <form id='form-check-availability' action="search-availability.html" method="get" novalidate class="needs-validation">
                    <div class="row">
                        <div class="col">
                            <div class="row" id="form_dateRange_2">
                                <div class="col">
                                    <label for="arrivalDate_2">Arrial date</label>
                                    <input required class="form-control" type="text" name="start" id="arrivalDate_2" placeholder="Arrival date">
                                </div>
                                <div class="col">
                                    <label for="departureDate_2">Departure date</label>
                                    <input required class="form-control" type="text" name="end" id="departureDate_2" placeholder="Departure date">
                                </div>
                            </div>
                        </div>
                    </div> <!-- row -->
                    <hr>
                </form>
            `
            // Calls the custom function from the SweetAlert.
            // callback is defines what to do with the data received from this alert
            pmt.custom({
                text: html,
                title: "Search availability",
                
                willOpen: () => {
                    const elem = document.getElementById('form_dateRange_2');
                    const rangepicker = new DateRangePicker(elem, {
                        format: "yyyy/mm/dd",
                        showOnFocus: true,
                        orientation: 'auto top',
                        minDate: new Date(),
                    })
                },

                didOpen: () => {
                    document.getElementById('arrivalDate_2').removeAttribute('disabled');
                    document.getElementById('departureDate_2').removeAttribute('disabled');
                },

                callback: function(result) {
                    console.log("called");

                    // Creates a formData variable that contains all of the inputs of the form <form>
                    let form = document.getElementById("form-check-availability");
                    let formData = new FormData(form);
                    formData.append("csrf_token", "{{.CSRFToken}}");
                    formData.append("room_id", "2");

                    // AJAX request
                    fetch('/search-availability-json', {
                        method: "post",
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.ok) {
                                pmt.custom({
                                    icon: 'success',
                                    showConfirmButton: false,
                                    text: '<p>Room is available!</p>'
                                        + '<p><a href="/book-room?id='
                                        + data.room_id
                                        + '&s='
                                        + data.start_date
                                        + '&e='
                                        + data.end_date
                                        + '"class="btn btn-primary">'
                                        + 'Book now!</a></p>',

                                })
                            } else {
                                pmt.error({
                                    text: "No availability",
                                })
                            }
                        })
                }
            });
        })
    </script>
{{end}}
